<header class="d-flex flex-row align-items-center justify-content-between
    bg-white border-bottom shadow-sm ">
    <img src="/assets/images/logo.png" alt="logo" class="logo" style="max-height: 70px;" routerLink="/">
    <nav class="my-2 text-uppercase fs-4">
        <a class="p-2" routerLinkActive="active" routerLink="/">Home</a>
        <a class="p-2" routerLinkActive="active" routerLink="/shop">Shop</a>
        <a class="p-2" routerLinkActive="active" routerLink="/ontact">Contact</a>
    </nav>
    <div class="d-flex align-items-center nav-auth">
    </div>

</header>