<div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <h1 class="lg:mt-12 text-white font-bold">
          The world's best consulting for manufacturing companies thanks to digital microservices
        </h1>
        <div class="flex flex-wrap items-center mt-4">
          <div class="inline-block mr-5">Offer:</div>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Digitalization</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Marketing</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40">Staff</a>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
        <img class="ml-auto" src="assets/images/hero.png" alt="Hero" />
      </div>
    </div>
  </div>
</div>

<div class="ll-service-area">
  <div class="container">
    <h1 class="ll-service__title text-center font-extralight mb-12">Digital - Micro - Services</h1>
    <div class="ll-services grid grid-cols-12 gap-8">
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2">Remote</h3>
        <p>The execution takes place from the home office of the consultant.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2">Lean</h3>
        <p>Less waste time & cost but get more value.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2">Independent</h3>
        <p>Our work begins with the commissioning, not yours.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2">Tangible</h3>
        <p>Each offer describes a specific result.</p>
      </div>
    </div>
  </div>
</div>

<div class="ll-about mt-28 mb-28">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="lg:w-1/2 lg:order-last">
        <a href="javascript:void(0)" class="ll-about__img relative block">
          <img src="assets/images/about.jpg" alt="About" />
          <mat-icon class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">play_circle_filled</mat-icon>
        </a>
      </div>
      <div class="lg:w-1/2 lg:pr-10 mt-8 lg:mt-0 ll-about__text">
        <h2 class="font-medium">The world's best advice from real practitioners</h2>
        <div class="mt-12">
          <h5 class="font-medium text-black">Partly real practitioners as consultants</h5>
          <p class="mt-1">With us, practitioners advise who were previously advised and who are now passing on this knowledge.</p>
        </div>
        <div class="mt-8">
          <h5 class="font-medium text-black">Not salespeople, but solution providers</h5>
          <p class="mt-1">With us you advise consultants who also implement the solutions, not just sell them.</p>
        </div>
        <div class="mt-8">
          <h5 class="font-medium text-black">Without a journey, we “call” in</h5>
          <p class="mt-1">With us, there is no need to travel to the advice center and thus the part that no consultant likes.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ll-home-products></ll-home-products>

<div class="ll-process-area bg-black mt-16">
  <div class="container">
    <h2 class="ll-process__title text-center text-warn mb-8">How it works</h2>
    <div class="ll-processes grid grid-cols-12 gap-8">
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2 text-warn font-bold">Choose</h3>
        <p class="text-white">You choose the micro-service that you need right now.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2 text-warn font-bold">Book</h3>
        <p class="text-white">You choose the micro-service that you need right now.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2 text-warn font-bold">Contact</h3>
        <p class="text-white">You choose the micro-service that you need right now.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2 text-warn font-bold">Execution</h3>
        <p class="text-white">You choose the micro-service that you need right now.</p>
      </div>
    </div>
  </div>
</div>

<div class="pt-20 ll-starter">
  <div class="container">
    <h2 class="text-center mb-16 xl:mb-0">Start with you desire</h2>
    <div class="grid xl:grid-cols-2 gap-x-8 mt-10">
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/starter-01.png" alt="" />
        </div>
        <div class="py-5 col-span-7">
          <h4 class="text-white mb-4">Start as a buyer</h4>
          <p class="text-white mb-7">
            Become part of your Lieblings services and book the micro-service that will help your production company at any time.
          </p>
          <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" mat-flat-button color="warn" class="font-semibold"
            >Join Now</a
          >
        </div>
      </div>
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center mt-16 xl:mt-0">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/starter-02.png" alt="" />
        </div>
        <div class="py-5 col-span-7 order-first text-right">
          <h4 class="text-white mb-4">Start as a consultant</h4>
          <p class="text-white mb-7">
            Become part of your Lieblings services and book the micro-service that will help your production company at any time.
          </p>
          <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" mat-flat-button color="warn" class="font-semibold"
            >Join Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
