<ll-product-hero></ll-product-hero>
<div class="ll-search pb-6">
  <div class="container">
    <div class="border overflow-hidden sm:rounded-md p-5">
      <div class="mb-3">
        <div class="flex justify-between flex-wrap">
          <h4>Find your need</h4>
          <button (click)="advanceSearchExpanded = !advanceSearchExpanded" mat-button><mat-icon>tune</mat-icon> ADVANCED
            SEARCH</button>
        </div>
        <div class="mt-3 flex">
          <input type="text" placeholder="I am looking for ..."
            class="flex-1 w-full sm:text-sm lg:text-xl border-gray-300 rounded-l-md py-3 px-6" required />
          <button (keyup.enter)="OnSearch()" class="bg-primary w-24 rounded-r-md" (click)="OnSearch()"><mat-icon
              class="leading-8">search</mat-icon></button>
        </div>
      </div>
      <mat-expansion-panel [expanded]="advanceSearchExpanded">
        <div class="grid grid-cols-6 gap-6 mt-4">
          <!-- <div class="col-span-6 sm:col-span-3">
            <input type="text"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
              placeholder="Start price" />
          </div>
          <div class="col-span-6 sm:col-span-3">
            <input type="text"
              class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
              placeholder="End price" />
          </div> -->
          <div class="col-span-6 sm:col-span-3">
            <select name="Sort" (change)="OnSortSelected($event)"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option *ngFor="let item of sortOptions" [value]="item.value">{{item.name}}</option>

            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <select name="brands" (click)="onBrandSelected($event)"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option *ngFor="let item of brands" [class.active]="item.id === shopparam.brandId" [value]="item.id">
                {{item.name}} </option>
            </select>
          </div>
          <div class="col-span-6 sm:col-span-3">
            <select name="types" (click)="onTypeSelected($event)"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option *ngFor="let item of types" [class.active]="item.id === shopparam.brandId" [value]="item.id">
                {{item.name}}</option>

            </select>
          </div>
          <!-- <div class="col-span-6">
            <button mat-flat-button color="accent">Apply filter</button>
          </div> -->
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
<div class="ll-products-area mb-24">
  <div class="container">
    <div class="grid grid-cols-12 gap-6 xxl:gap-8" *ngIf="isLoaded && products">
      <div *ngFor="let product of products" class="col-span-12 md:col-span-6 xl:col-span-4">
        <mat-card class="ll-product">
          <img mat-card-image [src]="product.pictureURL" alt="{{ product.name }}"
            style="width: 100%; margin: 0 0 20px" />
          <mat-card-content class="flex">
            <div class="flex-none w-10">
              <img src="{{ product?.pictureURL }}" alt="product?.name" />
            </div>
            <div class="flex-grow pl-3">
              <h4 class="ll-product__creator">{{ product?.created_by?.name }}</h4>
              <h2 class="ll-product__name">
                <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
              </h2>
              <div class="flex justify-between mt-5">
                <div class="ll-product__price-label">Prices:</div>
                <div class="ll-product__price text-accent font-bold">€{{ product.price }}</div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="ll-product__action flex justify-between">
            <div class="flex-1 text-center flex items-center justify-center">
              <mat-icon color="warn">star</mat-icon> {{ product.rating }}/5
            </div>
            <div class="flex-1 text-center">
              <a [routerLink]="['/products', product.id]" mat-raised-button color="warn" class="px-4">Read More</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!isLoaded">
      <ngx-skeleton-loader count="9" appearance="circle" [theme]="{ 
          'border-radius': '5px',
          height: '280px',
          width: 'calc(33% - 10px)'
        }"></ngx-skeleton-loader>
    </div>
  </div>
</div>

<!-- #region Pager -->
<div class="d-flex justify-content-center" *ngIf="TotalCount > 0">
  <app-pager [PageSize]="shopparam.pageSize" [TotalCount]="TotalCount"
    (pageChanged)="onPageChanged($event)"></app-pager>
</div>
<!-- #endregion -->

<div class="ll-find-more mt-10 mb-36">
  <div class="container rounded-md">
    <h2 class="ll-find-more__heading">Didn't find what you were looking for? There is more we can do for you.</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
      <div class="_card bg-white rounded-md">
        <h3 class="_card__title font-normal text-black">Post Requirements and let our consultants make an individual
          offer</h3>
        <h5 class="_card__paragraph font-light text-black mt-3">Talent marketplace</h5>
        <a href="" mat-fab color="warn" class="float-right mt-"><mat-icon>arrow_forward</mat-icon></a>
      </div>
      <div class="_card bg-white rounded-md ml-auto">
        <h3 class="_card__title font-normal text-black">Post a problem and we will look for talented and skillful
          suitable advisors.</h3>
        <h5 class="_card__paragraph font-light text-black mt-3">Scouting</h5>
        <a href="" mat-fab color="warn" class="float-right mt-"><mat-icon>arrow_forward</mat-icon></a>
      </div>
    </div>
  </div>
</div>