@use '~@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lieb-primary: mat.define-palette(mat.$green-palette, 700, A400, A700);
$lieb-accent: mat.define-palette(mat.$deep-orange-palette, 500, 400, A700);
$lieb-warn: mat.define-palette(mat.$yellow-palette, 700, 500, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$lieb-theme: mat.define-light-theme(
  (
    color: (
      primary: $lieb-primary,
      accent: $lieb-accent,
      warn: $lieb-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lieb-theme);

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'assets/scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}
.bg-light {
  background-color: #fbfbfb;
}

// Contact page google map
.ll-google-map {
  .map-container {
    width: 100% !important;
    height: 400px !important;
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
