<div class="card shadow-sm" *ngIf="product">
    <img src="{{ product.pictureURL }}" alt="{{ product.name }}" class="img-fluid bg-info" />

    <div class="card-body d-flex flex-column">
        <a href="" class="text-decoration-none">
            <h6 class="text-uppercase">{{ product.name }}</h6>
        </a>
        <span class="mb-2">{{ product.price | currency }}</span>
        <div class="btn-group mt-auto">
            <button class="btn btn-outline-primary">Cart</button>
            <button routerLink="/shop/{{ product.id }}" class="btn btn-outline-success">
                View
            </button>
        </div>
    </div>
</div>