._hero {
    &__content {
        background-color: #5D0F29;
        position: relative;
    }
    &__particles {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}