<div class="sidebar">
  
    <!-- Categories Section -->
    <div class="sidebar_section">
      <div class="sidebar_title">
        <h5>Product Category</h5>
      </div>
      <ul class="sidebar_categories">
        <li
          *ngFor="let item of categories"
          [class.active]="item.id === ShopParam.categoryid"
          [value]="item.id"
          (click)="onCategorySelect(item.id)"
        >
          <a style="cursor: pointer;">{{ item.name }}</a>
        </li>
      </ul>
    </div>
  
    <!-- Search Section -->
    <div class="sidebar_section">
      <div class="sidebar_title">
        <h5>Search</h5>
      </div>
      <div class="input-group">
        <input
          type="text"
          (keyup.enter)="onSearchInput()"
          #search
          class="form-control"
          placeholder="Product name"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
      </div>
      <div style="text-align: center; padding-top: 1px;">
        <button
          type="button"
          (click)="onSearch(search.value)"
          style="height: 30px;"
          class="filter_button"
          data-mdb-ripple-init
        >
          <span>
            <i class="fa fa-search"></i> Search
          </span>
        </button>
      </div>
    </div>
  
    <!-- Price Range Filtering -->
    <div class="sidebar_section">
      <div class="sidebar_title">
        <h5>Filter by Price</h5>
      </div>
      <p>
        <input
          type="text"
          id="amount"
          readonly
          style="border: 0; color: #f6931f; font-weight: bold;"
        />
      </p>
      <div id="slider-range"></div>
      <div class="filter_button"><span>filter</span></div>
    </div>
  </div>
  
  <!-- Main Content -->
  <div class="main_content">
    <!-- Products -->
    <div class="products_iso">
      <div class="row">
        <div class="col">
          <!-- Product Sorting -->
          <div
            class="product_sorting_container product_sorting_container_top"
          >
            <select class="product_sorting box" (change)="onSortSelected($event)">
              <option
                *ngFor="let item of sortOptions"
                [value]="item.value"
                >{{ item.name }}</option
              >
            </select>
            <ul class="product_sorting"></ul>
            <div class="pages d-flex flex-row align-items-center">
              <span class="showing_results">
                Showing
                {{
                  (ShopParam.pageNumber - 1) * (ShopParam.pageSize + 1)
                }}–{{ ShopParam.pageNumber * ShopParam.pageSize }} of
                {{ ShopParam.totalCount }} results
              </span>
            </div>
          </div>
  
          <!-- Product Grid -->
          <div class="row product-grid">
            <div class="product-item" *ngFor="let item of products">
              <app-shops-item [products]="item"></app-shops-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>