<div>
	<!-- User Start -->
	<div class="flex flex-wrap">
		<div class="flex space-x-3 bg-primary rounded-md px-5 py-3 w-full sm:w-1/2">
			<div class="w-16 h-16 rounded-full overflow-hidden shadow-md">
				<img src="assets/images/user-128x128.jpg" alt="" class="w-full h-full object-cover">
			</div>
			<div class="text-white">
				<h5>Abraham Lincoln</h5>
				<p class="leading-normal text-white">
					<span class="font-medium">Email</span>: example@mail.com</p>
			</div>
		</div>
		<div class="w-full sm:w-1/2 sm:pl-5 mt-5 mmd:t-0">
			<p>
				<strong>Member Since</strong>: 10 May 2020</p>
			<p class="mt-1">
				<strong>Organization</strong>: Tech Incent</p>
		</div>
	</div>
	<!-- User End -->
	<!-- User Meta Start -->
	<div class="border bg-white mt-8 rounded-md">
		<div class="flex p-4 bg-gray-200">
			<h6 class="text-normal">Primary Information</h6>
			<button class="text-blue-400 hover:text-accent ml-auto flex items-center">
				<mat-icon class="_edit_icon mr-2">edit</mat-icon>
				Edit</button>
		</div>
		<div class="flex flex-wrap p-4">
			<div class="w-full sm:w-1/2">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Email:
					</div>
					<div class="ll-dataset__value">
						example@mail.com
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Number:
					</div>
					<div class="ll-dataset__value">
						+880-12121-212123
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 mt-4 sm:mt-0">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Username:
					</div>
					<div class="ll-dataset__value">
						abraham_lincoln
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Business Role:
					</div>
					<div class="ll-dataset__value">
						Buyer
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- User Meta End -->
	<!-- User Meta Start -->
	<div class="border bg-white mt-8 rounded-md">
		<div class="flex p-4 bg-gray-200">
			<h6 class="text-normal">Personal Information</h6>
			<button class="text-blue-400 hover:text-accent ml-auto flex items-center">
				<mat-icon class="_edit_icon mr-2">edit</mat-icon>
				Edit</button>
		</div>
		<div class="flex flex-wrap p-4">
			<div class="w-full sm:w-1/2">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						First Name:
					</div>
					<div class="ll-dataset__value">
						Abraham
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Last Name:
					</div>
					<div class="ll-dataset__value">
						Lincoln
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Gender:
					</div>
					<div class="ll-dataset__value">
						Male
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Date of Birth:
					</div>
					<div class="ll-dataset__value">
						07 Febuery 1995
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 mt-4 sm:mt-0">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Contact Number:
					</div>
					<div class="ll-dataset__value">
						+880-12121-212123
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Organization:
					</div>
					<div class="ll-dataset__value">
						Tech Incent
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Occupation:
					</div>
					<div class="ll-dataset__value">
						Full Stack Developer
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Others:
					</div>
					<div class="ll-dataset__value">
						N/A
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- User Meta End -->
</div>
