<div class="mt-32">
  <div class="container">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12 md:col-span-7 xl:col-span-8 border p-5">
        <a href="javascript:void(0)" class="category text-primary inline-block mb-5">Personal</a>
        <h1 class="_title font-medium">Potential analysis - digitization for manufacturing companies</h1>
        <ul class="product-meta flex flex-wrap items-center mt-8 mb-8">
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2" color="warn">start</mat-icon> 4.5/5 (14 Feedback)</a
            >
          </li>
          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2">favorite</mat-icon> Save</a
            >
          </li>

          <li class="mr-4">
            <a class="flex items-center pr-4 py-1 hover:text-primary" href="javascript:void(0)"
              ><mat-icon class="mr-2">share</mat-icon> Share</a
            >
          </li>
        </ul>
        <img class="w-full" src="assets/images/products/details.jpg" alt="img not found" />
        <div class="ll-content mt-8">
          <h5>
            We provide you with process mechanics for plastics and rubber technology (m / f / d) from Spain. Our candidates speak English
            and would like to continue their respective careers in the plastics country.
          </h5>
          <h6>Problem</h6>
          <p>
            It is difficult to find talented & motivated process mechanics in Germany. Lateral entrants from Germany can work, but the best
            are those talents who have learned the process from scratch and can & want to imagine a career with it.
          </p>
          <h6>General situation:</h6>
          <p>
            Many production companies in plastics processing in Germany have been experiencing a shortage of talented and motivated process
            mechanics for years. Only a few small and medium-sized companies actively use the talent pool from other EU countries. Many
            process mechanics in other EU countries would like to continue their careers in Germany. Small and medium-sized teams in
            particular offer such talents a warm atmosphere and the chance to feel at home.
          </p>
          <h6>Our solution:</h6>
          <p>
            We are looking for suitable process mechanics from Spain who speak good English according to your requirement profile and
            support you in welcoming your ideal candidate to Germany even during the pandemic. Basically, the European population under the
            age of 30, and especially those with an affinity for technology and machines, speak good to very good English. You should
            benefit.
          </p>
          <h6>What you get with this booking and for this price:</h6>
          <ul>
            <li>
              The successful placement of a process mechanic (m / f / d) according to your requirement profile for permanent employment
            </li>
            <li>The placement of a process mechanic (m / f / d) exclusively from Spain with a work permit for foeign countries</li>
            <li>Placement of talents with a good command of English</li>
          </ul>
          <blockquote>
            And talk about chicken nuggets and bacon BBQ souces. AND talk about chicken nuggets and bacon BBQ souces. AND talk about chicken
            nuggets and bacon BBQ souces
          </blockquote>
          <h6>Requirements:</h6>
          <ol>
            <li>
              You have to create the prerequisites in the factory & company to integrate a process mechanic who initially only speaks
              English.
            </li>
            <li>We need a realistic requirement profile that takes into account the professional or differences in training in Spain.</li>
          </ol>
          <blockquote>
            And talk about chicken nuggets and bacon BBQ souces. AND talk about chicken nuggets and bacon BBQ souces. AND talk about chicken
            nuggets and bacon BBQ souces
          </blockquote>
        </div>
      </div>
      <div class="col-span-12 md:col-span-5 xl:col-span-4">
        <div class="border">
          <div class="border-b text-center pt-10 pb-10">
            <div class="text-accent text-4xl font-semibold">€3,000.00</div>
            <div class="font-medium text-lg mt-3 text-gray-400 tracking-wider">Price</div>
          </div>
          <div class="border-b p-5">
            <ul class="service-info">
              <li class="py-2 mr-2">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon>
                  <strong class="mr-2 font-black">96</strong> interested persons
                </div>
              </li>
              <li class="py-2 mr-2">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon>
                  <strong class="mr-2 font-black">1 hours</strong> reaction time
                </div>
              </li>
              <li class="py-2 mr-2">
                <div class="flex items-center">
                  <mat-icon class="text-primary border-2 rounded-full w-6 h-6 text-center leading-5 mr-2">check</mat-icon>
                  <strong class="mr-2 font-black">12 hours</strong> delivery time
                </div>
              </li>
            </ul>
          </div>
          <div class="border-b p-5">
            <h5>Addons Services</h5>
            <div class="flex mt-2">
              <div class="sm:pt-1 mr-3 sm:mr-6 md:mr-8">
                <input type="checkbox" class="appearance-none border border-gray-300 checked:bg-gray-400 checked:border-transparent ..." />
              </div>
              <div class="flex-grow">
                <div class="price sm:float-right font-bold">€200.00</div>
                <h6 class="text-gray-800">Execution after work</h6>
                <p class="mt-2">
                  Thanks to our home office approach, we can serve you during the entire microservice even after work, if that suits you
                  better. The following times are possible after close of business: sun - thu, 9 p.m. - 7 p.m.
                </p>
              </div>
            </div>
            <div class="flex mt-4">
              <div class="sm:pt-1 mr-3 sm:mr-6 md:mr-8">
                <input type="checkbox" class="appearance-none border border-gray-300 checked:bg-gray-400 checked:border-transparent ..." />
              </div>
              <div class="flex-grow">
                <div class="price sm:float-right font-bold">€200.00</div>
                <h6 class="text-gray-800">Execution after work</h6>
                <p class="mt-2">
                  Thanks to our home office approach, we can serve you during the entire microservice even after work, if that suits you
                  better. The following times are possible after close of business: sun - thu, 9 p.m. - 7 p.m.
                </p>
              </div>
            </div>
          </div>
          <div class="border-b px-5 pt-10 pb-12 text-center">
            <p class="text-gray-400 mb-4">This price can increase due to additional bookings</p>
            <button mat-flat-button class="py-3 px-20 text-xl font-bold" color="accent">Buy now</button>
          </div>
        </div>
        <div class="border mt-5 px-5 py-10 text-center">
          <p class="font-bold mb-3">Do you have any special requirements?</p>
          <button mat-stroked-button class="py-2 px-12 text-lg font-bold text-gray-700">Send us</button>
        </div>
      </div>
    </div>
  </div>
</div>
