<div class="d-flex justify-content-center mt-5">
    <div class="col-3">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-3"> Register </h1>
            </div>

            <div class="form-floating mb-3">
                <input type="text" id="displayName" name="displayName" class="form-control" formControlName="displayName" [class.is-invalid]="GetdisplayName?.invalid && GetdisplayName?.untouched ">
                <div [hidden]="GetdisplayName?.valid || GetdisplayName?.untouched" class="alert alert-danger">
                    <small *ngIf="GetdisplayName?.errors?.['required']"> Display Name is Required </small>
                </div>
                <label for="floattingdisplayName" class="form-label">Display Name :</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" id="email" name="email" class="form-control" formControlName="email" [class.is-invalid]="Getemail?.invalid && Getemail?.untouched ">
                <div [hidden]="Getemail?.valid || Getemail?.untouched" class="alert alert-danger">
                    <small *ngIf="Getemail?.errors?.['required']"> email is Required </small>
                </div>
                <label for="floattingEmail" class="form-label">Email :</label>
            </div>


            <div class="form-floating mb-3">
                <input type="password" id="password" name="password" class="form-control" formControlName="password" [class.is-invalid]="Getpassword?.invalid">
                <div [hidden]="Getpassword?.valid || Getpassword?.untouched" class="alert alert-danger">
                    <small *ngIf="Getpassword?.errors?.['required']"> Password is Required </small>
                </div>
                <label for="floatingPassword" class="form-label">Password :</label>
            </div>

            <br />
            <div class="d-grid">
                <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Submit</button>
            </div>
        </form>


    </div>
</div>