<div class="container">
  <div class="row" *ngIf="product">
    <div class="col-md-6 p-0">
      <img src="{{product.pictureURL}}" alt="{{product.name}}" class="w-100 product-image">
    </div>
    <div class="col-md-6 product-info">
      <h3 class="text-uppercase">{{ product.name }}</h3>
      <p class="product-price">{{ product.price | currency }}</p>
      <h5 class="text-primary mb-3">
        You have 0 of this item in the basket
      </h5>
      <div class="d-flex align-items-center quantity-control">
        <i class="fa fa-minus-circle"></i>
        <span class="font-weight-bold"> 5 </span>
        <i class="fa fa-plus-circle"></i>
        <button class="btn btn-custom ms-4">Save</button>
      </div>
      <div class="description mt-4">
        <h4>Description</h4>
        <p>{{product.description}}</p>
      </div>
    </div>
  </div>
</div>